.container-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 6em;
}

#barChart,
#doughnutChart {
    width: 100%;
    height: 100%;
}

p{
    color: aliceblue;
    padding: 15px;
    text-align: justify;
}