* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #222;
    border-bottom: 1px solid#99e403;
}

.nav-bar .logo a {
    text-decoration: none;
    color: rgb(190, 241, 7);
    font-size: 20px;
}

.nav-bar .menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-bottom: 0px !important;
}

.menu a {
    text-decoration: none;
    color: #99e403;
    font-size: 20px;
    transition: 0.5s;
}
.menu a:hover {
    
    color: #eae204;
    
}

.main-container {
    display: flex;
    min-height: 80vh;
}

.sidebar {
    border-right: 2px solid#99e403;
    width: 120px;
    background-color: #222;
    color: #222;
    height: 100%;
    padding: 0 !important;
}

.sidebar li {
    display: flex;
    padding: 15px;
    gap: 10px;
    transition: 0.5s;
}

.sidebar li:hover {
    background-color: #99e403;
}

.sidebar li:hover i {
    color: #222;
}

.sidebar li:hover a {
    color: #222;
}

.sidebar a,
.sidebar i {
    font-size: 14px;
    color: #fff;
}

.sidebar a {
    text-decoration: none;
}
.main-area{
    width: 100vw;
}

.error-message,
.success-message{
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 30px;
}
.error-message{
    color: #f33737;
    background-color: #f6bcbc;
    border: 1px solid #f48585;
    
}
.success-message{
    color: #1c5313;
    background-color: #c6f6bc;
    border: 1px solid #a6f485;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

footer p {
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #99e403;
    background-color: #222;
    color: #99e403;
    
}

