<link rel="stylesheet" href="/css/chart.css">
<div class="container-canvas">
    <div class="container-canvas-bar">
      <h1>Balanço da semana</h1>
      <canvas id="barChart"></canvas>
    </div>
      <div class="container-canvas-doughnut">
        <h1>Balanço do mês</h1>
          <canvas id="doughnutChart"></canvas>
      </div>
</div>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et debitis voluptates facere eos necessitatibus nemo quam labore repellendus eius repellat, quos odio laborum porro ratione modi qui ipsam quo accusantium!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et debitis voluptates facere eos necessitatibus nemo quam labore repellendus eius repellat, quos odio laborum porro ratione modi qui ipsam quo accusantium!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et debitis voluptates facere eos necessitatibus nemo quam labore repellendus eius repellat, quos odio laborum porro ratione modi qui ipsam quo accusantium!</p>

<script src="/js/apiChart.js"></script>